a {
  text-decoration: none;
  color: #007bff;
}

.signup-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
}

.signup-main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
}

.singup-main h2 {
  text-align: center;
  color: #333;
}

.signup-link {
  width: 400px;
  padding: 20px 10px;
  font-size: 11pt;
}

.signup-link span {
  margin-top: 0 auto;
  text-align: center;
  color: #333;
}

.p-fluid {
  margin-top: 20px;
}

.p-field {
  margin-bottom: 20px;
}

.p-field label {
  display: block;
  margin-bottom: 5px;
}