@font-face {
  font-family: 'PoppinsRegular';
  src: local('PoppinsRegular'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: PoppinsRegular, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
